<h1 id="userTable">User</h1>

<div class="form-group">
  <div class="row">
    <label class="col-6 col-form-label">Number of Users</label>
    <input class="col-6 form-control" type="number" min="1" max="50" [(ngModel)]="numberOfUsers" />
  </div>
  <div class="row">
    <button (click)="getRandomUser()" class="btn-primary btn">Load users</button>
  </div>
</div>

<p *ngIf="!users">Loading...</p>

<div class="row">
  <div class="col-6" *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <img alt="{{user.name.first + user.name.last}}" src="{{user.picture.medium}}" class="img-fluid rounded" />
          </div>
          <div class="col-9">
            <strong>Information</strong>
            <div class="table-responsive">
              <table class="table-responsive table-striped table-hover table-user-information">
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td class="text-primary">{{user.name.first + ' ' + user.name.last}} (<span class="fas fa-{{getUserSex(user.gender)}}"></span> {{user.dob.age}})</td>
                  </tr>
                  <tr>
                    <td>Adress</td>
                    <td>
                      <address>
                        {{user.location.street.name}} {{user.location.street.number}} <br />
                        {{user.location.postcode}} {{user.location.city}} <br />
                        {{user.location.state}} <br />
                        {{(user.location.country != null ? user.location.country : '')}} <br />
                        <a *ngIf="user.coordinates" href="https://maps.google.com/?q={{location.coordinates.latitude}},{{location.coordinates.longitude}}&z=4"><span class="fas fa-maps"></span> Open in Google Maps</a>
                      </address>
                    </td>
                  </tr>
                  <tr>
                    <td>Contact</td>
                    <td>
                      <a *ngIf="user.phone" href="tel:{{user.phone}}"><span class="fas fa-phone"></span> {{user.phone}}</a><br />
                      <a *ngIf="user.cell" href="tel:{{user.cell}}"><span class="fas fa-mobile"></span> {{user.cell}}</a><br />
                      <a *ngIf="user.email" href="mailto:{{user.email}}"><span class="fas fa-envelope"></span> {{user.email}}</a><br />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
